.navbar li{
    display: inline;
    margin-left:2%;
    margin-right:2%;
}
.navbar li:hover{
    font-weight: bold;
    color:white;
}
body{
    background-color: #17a2b8;
}
header{
    background-color: #2c2c2c;
    padding:0.5%;
}
a{
    text-decoration: none;
    color:whitesmoke;
}
.aside-box{
    background-color: white;
    padding:2%;
}
img
{
    width: 60%;
    height:60%;
}
.grid-container{
    position:relative;
    top:20px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 35px;
    row-gap: 20px;
}
.grid-item{
    border:2px solid white;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
button{
    background-color:#2c2c2c;
    color:whitesmoke;
    padding:8px;
    border-radius:4px;
}
button:hover
{
    font-weight: bold;
}
footer{
    position: absolute;
    top:120%;
    left:50%;
}